<html>
<%- partial('_partial/head')%>
   

    <body id="scrapbook" class="<% if(is_post()) {%>
        mt-entry-archive one-column
    <%}else{%>
        mt-archive-listing mt-category-archive two-columns
        <%}%>">
        <script type="text/javascript">
            if (/mobile/i.test(navigator.userAgent) || /android/i.test(navigator.userAgent)) document.body.classList.add('mobile');
        </script>
        <%- body%>


        <%- partial('_partial/afterfooter')%>


    </body>

</html>