<div id="footer">
  <div id="footer-inner">
    <div id="footer-content">
      <p>Blog style comes in<a href="http://www.ruanyifeng.com/blog/"> Ruan YiFeng</a></p>
      <p>powered by Hexo and hexo-theme-ryf.</p> 
    </div>
  </div>
</div>